<h1>
    hello
</h1>
<form action="/charge" method="POST">
    <script type="text/javascript" src="/javascripts/jquery-3.1.1.min.js"></script>
    <script
        src="https://checkout.stripe.com/checkout.js"
        class="stripe-button"
        data-key="pk_test_4yrRJcsQKrvoZ4rQa5FVTn5F00smw5c5jR"
        data-amount = '2000'
        data-name = 'grapes'
        data-description = 'buy sweet grapes'
        data-locale="auto"
        data-currency="INR"
    >
    
    </script>
</form>